@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
}

.dark {
  background-color: #1F2937;
}

.dark .bg-white {
  background-color: #374151;
}

.dark .text-gray-800 {
  color: #F3F4F6;
}
